# Java class files
*.class

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Maven
target/

# VS Code
.vscode/

# TestNG output
test-output/

# JUnit test reports
junitreports/